:root {
  --white: #FFFFFF;
  --black: #000000;
  --charcoal: #191919;
  --pink: #ed145b;
  --pink-100: #f2437c;
  --pink-900: #c83782;
  --btn: #2a2b33;
  --btn-hover:#39353c;
  --btn-text: #888890;
  --btn-text-hover: #e4e6ed;
}

.app {
  background-color: #191919;
  overflow: auto;
  position: relative;
  height: 100vh;
}
